# netbeans
ClienteSopaLetras/nbproject/private/
ClienteSopaLetras/build/
ClienteSopaLetras/nbbuild/
ClienteSopaLetras/dist/
ClienteSopaLetras/nbdist/
ClienteSopaLetras/nbactions.xml
ClienteSopaLetras/nb-configuration.xml
#Archivos Binarios
*.class
#Archivos Binarios
*.class
